page {
    background: #fff;
}

.bgmain {
    background-color: #ff6444;
    color: #fff;
}

.search_bg {
    padding: 30px;
}

.search_box {
    display: flex;
    background: #fff;
    justify-content: space-around;
    box-shadow: 0 1px 6px rgba(0,0,0,.07);
}

.search_box,.search_box input {
    border-radius: 10px;
    line-height: 70px;
}

.search_box input {
    background-color: #fff;
    height: 70px;
    padding-left: 10px;
    width: 80%;
}

.cuIcon-search {
    font-size: 34px;
}

.cate_box {
    display: flex;
}

.cate_item {
    width: 25%;
    text-align: center;
    flex-shrink: 0;
    font-size: 30px;
}

.goods_line {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-flow: wrap;
    padding: 0 30px 30px;
}

.goods_item {
    display: flex;
    flex-direction: column;
    width: 48%;
    box-shadow: 0 1px 6px rgba(0,0,0,.07);
    border: 10px;
    margin-top: 20px;
    border-radius: 10px;
}

.goods_item image {
    width: 100%;
    height: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.goods_item .name {
    padding: 10px 20px;
    font-size: 30px;
}

.goods_item .price {
    padding: 0px 20px 10px;
    display: flex;
    justify-content: space-between;
    color: #919191;
    font-size: 28px;
}

.goods_item .price view {
    text-decoration: line-through;
}

.goods_item .price .price_item {
    color: #ff6344!important;
    text-decoration: none!important;
    font-weight: 700;
    font-size: 30px!important;
}

.goods_item .userInfo {
    padding: 10px 20px;
    font-size: 22px;
    justify-content: space-between;
    width: 100%;
    //border: 1px solid red;
}

.goods_item .userInfo,.goods_item .userInfo .left {
    display: flex;
    align-items: center;
}
.goods_item .userInfo .right {
    //display: flex;
    //align-items: center;
    //width: 100px;
    width: 50%;
    //border: 1px solid red;
}

.goods_item .userInfo .avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
}

.cate_active {
    color: #ff6344;
}

.nomore {
    text-align: center;
    font-size: 30px;
}
