.center-group {
    color: #c1c1c1;
    font-size: 24px;
    line-height: 24px;
    white-space: nowrap;
    width: 57px;
    height: 80px;
}

.image_19 {
    width: 54px;
    height: 54px;
}

.equal-division-item_1 {
    flex: 1 1 183px;
    padding: 10px 0;
}

.image_1 {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin: 15px 0;
}

.center-section {
    background-color: #000;
    width: 2px;
    height: 30px;
}

.grid-item {
    padding-bottom: 30px;
    background-color: #fff;
    box-shadow: 0 4px 20px 0 hsla(0,0%,60%,.1);
    border-radius: 10px;
    position: relative;
}

.bottom-group {
    margin-top: 30px;
    padding: 0 15px;
}

.bottom-group_1 {
    padding-left: 9px;
    padding-right: 8px;
}

.image_8 {
    width: 336px;
    height: 336px;
}

.text_14 {
    word-break: break-all;
}

.left-group {
    white-space: nowrap;
    line-height: 29px;
    height: 29px;
    float: left;
}

.image_10 {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.text_16 {
    color: #ff6344;
    font-size: 28px;
    line-height: 20px;
}

.text_18 {
    color: #ff6344;
    font-size: 40px;
    line-height: 30px;
}

.text_21 {
    color: #000;
    font-size: 24px;
    line-height: 24px;
    white-space: nowrap;
}

.text_2 {
    margin-top: 10px;
}

.right-group {
    margin: 4px 0 3px 19px;
    flex: 1 1 auto;
}

.text_23 {
    margin-top: 9px;
    color: #999;
    font-size: 20px;
    line-height: 20px;
    white-space: nowrap;
}

.container {
    background-color: #fcfcfc;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
}

.group {
    flex: 1 1 auto;
    overflow-y: auto;
}

.tab-bar {
    background-color: #fff;
    border-top: 2px solid #f9f9f9;
}

.section_1 {
    padding-top: 28px;
    color: #fff;
    font-size: 28px;
    line-height: 26px;
    white-space: nowrap;
    background-color: #ff6344;
}

.group_1 {
    position: relative;
}

.group_19 {
    padding: 9px 82px 9px 85px;
}

.button {
    margin: 0 30px;
    padding: 20px 0;
    background-color: hsla(0,0%,97.6%,.3);
    border-radius: 36px;
}

.section_2 {
    margin-top: 30px;
    background-image: linear-gradient(0deg,#fff,#ff6344);
    height: 162px;
}

.section_3 {
    padding: 137px 0 30px 8px;
    background-color: #fff;
}

.image-wrapper_1 {
    padding: 276px 0 10px;
    background-image: url(https://codefun-proj-user-res-1256085488.cos.ap-guangzhou.myqcloud.com/610d0ce185e9bd00112839ac/61517902d1ba840011cca07e/16327294050476498288.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

.group_20 {
    color: #000;
    font-size: 24px;
    line-height: 24px;
    white-space: nowrap;
    width: 57px;
    height: 79px;
}

.image {
    width: 32px;
    height: 32px;
}

.text {
    margin: 3px 0 3px 20px;
}

.equal-division {
    margin-right: 8px;
    color: #000;
    font-size: 28px;
    line-height: 28px;
    white-space: nowrap;
}

.group_5 {
    margin-top: 46px;
    padding-left: 22px;
}

.group_7 {
    margin-top: 61px;
    padding: 0 22px;
}

.image_18 {
    width: 46px;
    height: 12px;
}

.equal-division-item {
    padding: 12px 0 10px;
    width: 25%;
}

.group_6 {
    color: #999;
    font-size: 28px;
    line-height: 28px;
    white-space: nowrap;
}

.equal-division_1 {
    margin-top: 30px;
}

.group_8 {
    color: #999;
    font-size: 28px;
    line-height: 28px;
    white-space: nowrap;
}

.grid {
    margin-right: 8px;
    margin-top: 31px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 18px;
    grid-column-gap: 19px;
}

.text_1 {
    margin-top: 8px;
}

.image_6 {
    width: 169px;
    height: 31px;
}

.text_6,.view {
    margin-left: 20px;
}

.equal-division-item_2,.equal-division-item_3 {
    padding: 31px 23px 58px;
    background-position: 0 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 280px;
    height: 160px;
}

.equal-division-item_3 {
    margin-left: 30px;
}

.equal-division-item_4 {
    margin-left: 30px;
    padding: 31px 0 58px;
    background-image: url(https://codefun-proj-user-res-1256085488.cos.ap-guangzhou.myqcloud.com/610d0ce185e9bd00112839ac/61517902d1ba840011cca07e/16327294063192226948.png);
    background-position: 0 0;
    background-size: 280% 100%;
    background-repeat: no-repeat;
    height: 160px;
}

.image_7 {
    width: 135px;
    height: 29px;
}

.view_1 {
    margin-left: 21px;
}

.text_13 {
    margin-left: 20px;
}

.grid-item_1 {
    padding-bottom: 30px;
    background-color: #fff;
    box-shadow: 0 4px 20px 0 hsla(0,0%,60%,.1);
    border-radius: 10px;
}

.text_7 {
    color: #000;
    font-size: 32px;
    line-height: 32px;
}

.text_7,.text_8 {
    white-space: nowrap;
}

.text_8 {
    margin-top: 15px;
    color: #999;
    font-size: 24px;
    line-height: 24px;
}

.text_9 {
    color: #000;
    font-size: 32px;
    line-height: 32px;
}

.text_9,.text_10 {
    white-space: nowrap;
}

.text_10 {
    margin-top: 15px;
    color: #999;
    font-size: 24px;
    line-height: 24px;
}

.text_11 {
    color: #000;
    font-size: 32px;
    line-height: 32px;
}

.text_11,.text_12 {
    white-space: nowrap;
}

.text_12 {
    margin-top: 15px;
    color: #999;
    font-size: 24px;
    line-height: 24px;
}

.group_9 {
    color: #010101;
    font-size: 28px;
    line-height: 42px;
}

.group_10 {
    margin-top: 22px;
    padding: 0 9px;
}

.group_11 {
    color: #010101;
    font-size: 28px;
    line-height: 28px;
    white-space: nowrap;
}

.view_5 {
    margin-top: 70px;
}

.group_15 {
    color: #010101;
    font-size: 28px;
    line-height: 42px;
}

.group_16 {
    margin-top: 21px;
    padding-left: 9px;
    padding-right: 9px;
}

.group_17 {
    color: #010101;
    font-size: 28px;
    line-height: 42px;
}

.view_10 {
    margin-top: 21px;
}

.text_15 {
    margin: 14px 12px 0 14px;
}

.text_20 {
    margin-right: 5px;
    margin-top: 3px;
    color: #999;
    font-size: 24px;
    line-height: 24px;
    white-space: nowrap;
}

.text_25 {
    margin-left: 16px;
    margin-top: 21px;
}

.group_13 {
    margin-top: 30px;
    padding: 0 6px;
}

.text_31 {
    margin: 14px 14px 0;
}

.text_34 {
    margin-top: 3px;
    color: #999;
    font-size: 24px;
    line-height: 24px;
    white-space: nowrap;
}

.text_37 {
    margin: 13px 14px 0;
}

.text_40 {
    margin-top: 3px;
    color: #999;
    font-size: 24px;
    line-height: 24px;
    white-space: nowrap;
}

.group_18 {
    margin: 4px 0 3px 18px;
    flex: 1 1 auto;
}

.text_28 {
    margin-top: 3px;
    color: #999;
    font-size: 24px;
    line-height: 24px;
    white-space: nowrap;
}

.image-wrapper {
    width: 60px;
}

.group_14 {
    margin: 6px 0 3px 18px;
    flex: 1 1 auto;
}

.text_41 {
    color: #000;
    font-size: 24px;
    line-height: 24px;
}

.text_41,.text_42 {
    white-space: nowrap;
}

.text_42 {
    margin-top: 9px;
    color: #999;
    font-size: 20px;
    line-height: 20px;
}

.text_29 {
    color: #000;
    font-size: 24px;
    line-height: 24px;
}

.text_29,.text_30 {
    white-space: nowrap;
}

.text_30 {
    margin-top: 7px;
    color: #999;
    font-size: 20px;
    line-height: 20px;
}

page {
    width: 100vw;
    height: 100vh;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Microsoft Yahei,sans-serif;
}

image,text,view {
    box-sizing: border-box;
    flex-shrink: 0;
}

.flex-row {
    flex-direction: row;
}

.flex-col,.flex-row {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.justify-start {
    justify-content: flex-start;
}

.justify-center,.justify-start {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.justify-end,.justify-evenly {
    display: flex;
}

.justify-evenly {
    justify-content: space-evenly;
}

.justify-around {
    justify-content: space-around;
}

.justify-around,.justify-between {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.items-start {
    align-items: flex-start;
}

.items-center,.items-start {
    display: flex;
}

.items-center {
    align-items: center;
}

.items-end {
    display: flex;
    align-items: flex-end;
}

van-field {
    --cell-background-color: transparent;
}

van-field .van-field__body {
    width: 100%;
}

van-checkbox .van-checkbox__label,van-radio .van-radio__label {
    padding-left: 0;
    flex: 1 1 auto;
}

van-checkbox .van-checkbox--horizontal,van-radio .van-radio--horizontal {
    margin-right: 0;
}

van-search {
    --search-padding: 0;
}

.swiper {
    height: 280px;
    padding: 10px 30px;
}

.swiper image {
    border-radius: 20px;
}

.section_3 {
    padding-top: 0!important;
}

.name {
    overflow: hidden;
    max-height: 85px;
}

.nickname {
    max-width: 220px;
    overflow: hidden;
}

.empty {
    width: 320px;
    height: 225px;
    margin: 20px auto 0;
}
