
.top {
    background-image: linear-gradient(#f56243, #fff);
    overflow: hidden;

    .search {
        width: 100%;
        margin: 0 10px;

        .input {
            width: 100%;
        }
    }

    .swiper {
        margin: 0 10px;
        border-radius: 15px;

        .swiper-item-image {
            width: 100%;
            height: 100%;
            border-radius: 15px;
        }
    }
}

.inner1 {
    //width: 100%;
    margin: 0 10px;
    overflow: hidden;
    //border: 1px solid red;


    .tuijianList {
        width: 100%;
        height: 200px;
        margin-top: 10px;
        //border: 1px solid red;
        //text-align: center;

        .tuijianList-item {
            //border: 1px solid black;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;

            .image-box {
                width: 100%;
                //height: 100%;
                //overflow: hidden;
                //border: 1px solid black;
            }

            .text {
                width: 100%;
                font-size: 20px;
                //border: 1px solid #6c2e2e;
            }

            .image {
                width: 100px;
                height: 100px;
                border-radius: 50px;
                //margin: 10px 10px;
                //margin-left: 10%;
            }
        }
    }

}
